/* 标题开始 */
body{
    background: #eeeeee;
    font-size: 0.24rem;
}
.head{
    height: 0.88rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    background: #fff;
}
.head-lt{
    width: 0.14rem;
    height: 0.24rem;
    margin-top: 0.31rem;
    line-height: 0.24rem;
    float: left;
    font-size: 0.36rem;
}
.head-lt a{
    color: #666;
}
.head-title{
    height: 0.27rem;
    margin-top: 0.29rem;
    margin-left: 2.86rem;
    line-height: 0.27rem;
    text-align:center;
    float: left;
    font-size: 0.28rem;
    color: #333;
    font-weight: bold;
}
/* 标题结束 */
/* 积分兑换开始 */
.exchange{
    height: 3.3rem;
    background: url(../img/circle.png) center no-repeat;
    background-size: contain;
    position: relative;
}
.exchange-sum{
    overflow: hidden;
    color: #fff;
}
.exchange-sum-num{
    padding-top: 0.56rem;
    padding-left: 2.95rem;
    float: left;
    font-size: 0.48rem;
}
.exchange-sum-name{
    padding-top: 0.8rem;
    padding-left: 0.1rem;
    float: left;
}
.exchange-content{
    width: 7.1rem;
    height: 2.8rem;
    position: absolute;
    top: 1.7rem;
    left: 0.2rem;
    background: #fff;
}
.exchange-content-title{
    overflow: hidden;
}
.exchange-content-title-1{
    padding-top: 0.31rem;
    padding-left: 0.19rem;
    float: left;
    font-size: 0.28rem;
    color: #333;
    font-weight: bold;
}
.exchange-content-title-2{
    float: right;
}
.exchange-content-title-2 div{
    float: left;
}
.exchange-content-title-2-1{
    padding-top: 0.32rem;
    padding-right: 0.15rem;
}
.exchange-content-title-2-2{
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.38rem;
    color: #999;
}
.exchange-thing{
    width: 6.7rem;
    height: 1.7rem;
    position: absolute;
    top: 0.9rem;
    left: 0.2rem;
    background: url(../img/background-cicle.png) 0 0 no-repeat;
    background-size: contain;
    box-sizing: border-box;
    overflow: hidden;
}
.exchange-thing::after{
    content: "";
    display: block;
    box-sizing: border-box;
    width: 200%;
    height: 199%;
    border: 0.01rem dashed #666;
    transform-origin: 0 0;
    transform: scale(0.5, 0.5);
}
.exchange-thing > div{
    float: left;
}
.exchange-thing-left{
    width: 4.7rem;
    height: 1.7rem;
    box-sizing: border-box;
    border-right: 0.01rem dashed #F0A4A3;
}
.exchange-thing-left > div{
    float: left;
}
.exchange-thing-left-money div{
    float: left;
}
.exchange-thing-left-money-sym{
    padding-top: 0.45rem;
    padding-left: 0.33rem;
    color: #EF1C00;
}
.exchange-thing-left-money-num{
    padding-top: 0.45rem;
    padding-left: 0.05rem;
    font-size: 0.6rem;
    color: #EF1C00;
}
.exchange-thing-left-int-1{
    padding-top: 0.3rem;
    padding-left: 0.47rem;
    color: #333;
}
.exchange-thing-left-int-2{
    padding-top: 0.1rem;
    padding-left: 0.47rem;
    font-size: 0.2rem;
    color: #999;
}
.exchange-thing-left-int-3{
    padding-top: 0.1rem;
    padding-left: 0.47rem;
    font-size: 0.2rem;
    color: #999;
}
.exchange-thing-right-money{
    overflow: hidden;
}
.exchange-thing-right-money > div{
    float: left;
}
.exchange-thing-right-money-sym{
    padding-top: 0.2rem;
    padding-left: 0.35rem;
    color: #333;
}
.exchange-thing-right-money-num{
    padding-top: 0.29rem;
    padding-left: 0.085rem;
    font-size: 0.6rem;
    color: #333;
}
.exchange-thing-right-change{
    width: 1.5rem;
    height: 0.4rem;
    margin-left: 0.25rem;
    background: #ef1c00;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.4rem;
    color: #fff;
}
/* 积分兑换结束 */
/* 积分明细开始 */
.detailed{
    width: 7.1rem;
    margin: 1.4rem 0.2rem;
    margin-bottom: 0.2rem;
    background: #fff;
}
.detailed-title{
    padding-top: 0.31rem;
    padding-left: 0.2rem;
    font-size: 0.28rem;
    color: #333;
    font-weight: bold;
}
.detailed-choose{
    margin: 0rem 0.4rem;
    overflow: hidden;
}
.detailed-choose div{
    width: 1.2rem;
    height: 0.9rem;
    line-height: 0.9rem;
    float: left;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}
.get-red{
    border-bottom: 0.02rem solid #EF1C00;
    color: #EF1C00;
}
#detailed-choose-2{
    margin: 0 1.35rem;
}
.detailed-ul li{
    width: 6.8rem;
    height: 1.2rem;
    border-bottom: 1px solid #ddd;
    margin: 0 0.2rem;
}
.detailed-li-div{
    float: left;
}
.detailed-li-div-1{
    width: 4.49rem;
    margin-top: 0.31rem;
    color: #333;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detailed-li-div-2{
    margin-top: 0.18rem;
    font-size: 0.2rem;
    color: #999;
}
.detailed-plus{
    margin-top: 0.51rem;
    margin-right: 0.1rem;
    float: right;
    color: #F12100;
}
.detailed-reduce{
    margin-top: 0.51rem;
    margin-right: 0.1rem;
    float: right;
    color: #666;
}